<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <pwa-camera-modal></pwa-camera-modal> -->
    <ion-button class="ion-margin" (click)="takePicture()">Take picture</ion-button>
    <ion-button (click)="getCurrentPosition()">Get Location</ion-button>
    <ion-button (click)="getDeviceInfo()">Get Device Info</ion-button>
    <ion-button (click)="getNetworkInfo()">Get Network Status</ion-button>
    <ion-button (click)="generateTextToSpeech()">TTS</ion-button>
</ion-content>
